<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="allfile" fileName="${aspnet-appbasepath}/logs/nlog-${shortdate}.html"
				layout="${SimpleLayout}" >
			<layout type='SimpleLayout'>
				<text>
					<![CDATA[
					<div style="font-family: Verdana; font-size: 10pt;"><strong style="color:${when:when=level=='Error':#B22222}"><i>${level:uppercase=true}:</i></strong><br>${message} ${exception:format=tostring}<br><b>Timestamp:</b>${longdate}||<b>User IP:</b>${aspnet-request-ip}||<b>Is Authenticated?:</b>${aspnet-user-isAuthenticated}	(1:yes , 0:no)||<b>Site URL:</b><a href="${aspnet-request-url}">${aspnet-request-url}</a><hr></div>]]>
				</text>
			</layout>
		</target>
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Warn" writeTo="allfile" />
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>

</nlog>